{% extends "base.html" %}
{% load static %}
{% block page_content %}
<h1>Songs</h1>
<a href="{% url 'song:create'%}" class="btn btn-primary">Add Song</a>
<div class="row">
{% for song in songs %}
    <div class="col-md-4">
        <div class="card mb-2">
            <div class="card-body">
                <h5 class="card-title">{{ song.title }}</h5>
                <p class="card-text">{{ song.artist }}</p>
                <p class="card-text">{{ song.album }}</p>
                <p class="card-text">{{ song.year }}</p>
                <a href="{% url 'song:detail' song.pk %}"
                   class="btn btn-primary">
                    Read More
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
